/* GENERAL******************** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
:root{
    --General-BorderRadius: 5px;
    --AsideMenu-Transition-Sliding: 1.5s;
    --AsideMenu-Background_Color-2ndLine: rgb(108, 108, 108, 0.8);
    --AsideMenu-Font_Color: white;
    --AsideMenu-Font_Shadow: 2px 2px 4px black;
    --nav_menu-Items-Padding: 5px 5px;
}   

body{
    /* fuentes Google Fonts */
    font-family: 'Lumanosimo', cursive;
}
/* GRID*********************** */
#container {  display: grid;
    grid-template-columns: 0.57fr 0.8fr 1fr ;
    grid-template-rows: 1.2fr 1.4fr 0.7fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  #asideMenu { grid-area: 1 / 1 / 5 / 2; }

  #main { grid-area: 1 / 2 / 4 / 4; }
  
  #intro { grid-area: 1 / 2 / 2 / 4; }
  
  #portfolio { grid-area: 2 / 2 / 3 / 4; }
  
  #aboutMe { grid-area: 3 / 2 / 4 / 4; }
  
  #contact { grid-area: 4 / 2 / 5 / 4; }
/* ASIDE MENU **************** */
#asideMenu{
    background-color: #3a4245;
    color: var(--AsideMenu-Font_Color);
    position:fixed ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 5px 20px; */
    & h1{
        font-size: 1.5em;
    }
    & h2{
        font-size: 1.5em;
    }
    & h3{
        font-size: 1.2em;
    }
    & #top{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.5em;
        padding: 0 1em;
        & figure{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        & img{
            width: 170px;
            border-radius: 10px;
            border-color: white 2px solid;
            box-shadow: 0px 0px 10px white;  
            margin: 5px;      
        }
    }
    & .nav_menu{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 20px 0;
        font-size: 1em;
        & a{
            display: flex;
            align-items: center;
            text-decoration: none;
            justify-content:end;
            padding: var(--nav_menu-Items-Padding);
            color: var(--AsideMenu-Font_Color);
            & img{
                margin-left: 10px;
                padding: var(--nav_menu-Items-Padding);
            }
        }
        & :hover{
            background-color: #1c1f22;
            padding: var(--nav_menu-Items-Padding);

        }
    }
    & #bottom .icons{
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 20px;
        & :hover{
            transform: scale(1.2);
        }
    }
}
#main{
    margin: 1em;
}

/* MAIN *****************************/
/* MEDIA QUERY MOVIL-------------------------- */
@media screen and (max-width: 722px) {
/* Grid ******************** */
    #container {  
        grid-template-columns: 0fr 2fr ;

      }
/* Aside Menu *********** */
    #asideMenu{
        height: 100vh;
        & header{
            /* impide que se mueva la letra al desplazarse el menu */
            width: max-content;
        }
        & header{
            & h1{
                font-size: 1.5em;
            }
            & h2{
                font-size: 1.2em;
            }
            & h3{
                font-size: 1em;
            }        
            & img{
                width: 20%;
            }
        }
        & .nav_menu{
            margin: 15px 0;
            /* padding: 15px; */
            font-size: 1em;
        }
    }
    /* muestra el icono de hamburguesa que muestra el aside Menu */
    .nav_toggle{
        display: block;
        color: #229bff;
        background-color: #b9c0c4;
        border-radius: 5px;
        /* float: left; */
        position: fixed;
        top: 0.3em;
        opacity:calc(50%);
        right: 0.3em;
        border: none;
        font-size: 30px;
        line-height: 60px;
        cursor: pointer;
        /* estara oculto cuando este en dispositivos de escritorio */
        /* display: none; */
        width: 50px;
    }
        .nav_menu_hide{
        /* oculta el menu hacia la izquierda */
        left: 100%;
        /* display: none; */
        /* hace que el ocultamiento sea mas suave */
        transition: 1.5s;
    }
        /* muestra el menu */
        .nav_menu_visible{
            left: 0%;
            /* display: block; */
        }
/* Main *********************** */
    main{
        margin: 10px
    }
    & #bottom .icons{
        margin-bottom: 10px;
    }
}