/* GENERAL----------------- */
:root{
    --Margen-entreSecciones: 40px;
    --EspacioEntre-elementosFlex: 1;
    --Formato-Link: white;
    --Formato-Link_hover: yellow;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}        
body{
    background-color: transparent;
    color: white;
    font-size: 1em;
    /* fuentes Google Fonts */
    font-family: 'Lumanosimo', cursive;
}
h1{
    text-align: center;
    font-size: 3em;
}
a{
    text-decoration: none;
    color: var(--Formato-Link);

}
a:link{
    color: var(--Formato-Link);
}
a:hover{
    color: var(--Formato-Link_hover);
}
.galeriaImagenes, .main, #precioMotos, #cajaPromociones, .footer{
    margin-top: var(--Margen-entreSecciones);
}

/* GRID--------------------------- */
/* .container {  display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 70px auto;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
.nombreEmpresa { 
    grid-area: 1 / 1 / 2 / 2;     
}
.header { grid-area: 1 / 1 / 2 / 4; }  
.menuNavegacion { grid-area: 1 / 2 / 2 / 4; }
.footer { grid-area: 4 / 1 / 5 / 4; } */

/* FOOTER----------------------------- */
footer{
    display: flex;

    border-top: 1px white dashed;
    background-color: black;
    /* padding-top: 8px; */
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
#redesSociales{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
    #redesSociales section{
        display: flex;
        align-items: center;
        padding-left: 35px;
    }
    #redesSociales a{
        display: flex;
        align-items: center;
    }
#politica_Privacidad{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    /* flex: var(--EspacioEntre-elementosFlex); */
}
    #disenador{
        margin-top: 15px;
    }
    #disenador article a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
#enlacesUtiles{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
